html * {
  font-family:  sans-serif;

}
*{
  font-weight: bold;
}

/* Bootstrap tweaks */
.card-img-top {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.list-group-horizontal > .list-group-item {
  border: none;
}

.modal-body > img {
  width: 100%;
}

.card > .table {
  margin-bottom: 0;
}
.bg-primary{
 background-color: #00BF00AF;
}